<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
<h1>Create Student</h1>

<form th:action="@{/students}" th:object="${studentForm}" method="post">
    <div>
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" th:field="*{fullName}">
        <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" th:field="*{email}">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div>
        <label for="enrollmentYear">Enrollment Year</label>
        <input type="number" id="enrollmentYear" th:field="*{enrollmentYear}">
        <div th:if="${#fields.hasErrors('enrollmentYear')}" th:errors="*{enrollmentYear}"></div>
    </div>
    <div>
        <button type="submit">Create</button>
        <a th:href="@{/students}">Back</a>
    </div>
</form>
</body>
</html>
